<img src="logo.png" alt="Virak logo" style="float:center; width:350px; margin-left:200px;">

## **Exercise 01: Basics**
### <span style="color:#FF4C29; font-weight:bold">Question01</span>
 **for each of the following variables, try to cast them to the requested type. If the conversion is seccessful, write the resulting value. If not, explain why using a comment.**

##### Convert to int

In [ ]:
price = "15.0"
code = "007"
name = "Alice"
is_active = True

print(int(price))     ## خطا میگیرد چون به خاطر دات نمیتوان رشته ی اعشاری را مستقیم به صحیح تبدیل کرد
print(int(code))      ## result = 7
print(int(name))      ##خطا میگیرد چون رشته حرفی را نمیتوان به عدد صحیح تبدیل کرد
print(int(is_active)) ## result = 1

##### Convert to float

In [ ]:
score = "3.14"
amount = "3,14"
value = "NaN"
is_logged_in = False


print(float(score))        ## result = 3.14
print(float(amount))       ## خطا میگیرد چون کاما که یک کاراکتر رشته ای است نمیتواند به عدد تبدیل کند
print(float(value))        ## result = nan (نتیجه عملیاتی بوده که نتوانسته یک عدد معتبر تولید کند)
print(float(is_logged_in)) ## result = 0.0

##### Convert to str

In [ ]:
age = 12
average_score = 17.5
is_verified = True

print(str(age))           ## result = '12'
print(str(average_score)) ## '17.5'
print(str(is_verified))   ## 'True'

                          ## این نکته قابل ذکر است که هرنوع داده ای را میتوان به نوع رشته ای تبدیل کرد

##### Convert to boolean

In [ ]:
username = ""
status = "False"
comment = " "
visits = 0

print(bool(username)) ## result = False
print(bool(status))   ## result = True
print(bool(comment))  ## result = True
print(bool(visits))   ## result = False

### <span style="color:#FF4C29; font-weight:bold">Question02</span>
**Explain the result of the following codes step by step and write comment for that line by line**

In [ ]:
price_str = "120.5"              #یک متغیر تعریف شده از نوع عدد رشته ای
price = int(float(price_str))    #متغیر رشته ای  به خاطر وجود دات ابتدا به اعشار بعد به صحیح تبدیل شده
print("price=",price)            #price = 120

In [ ]:
code = str(price) + "0"         #مقدار پرایس که 120 عددی بود به رشته تبدیل شده وبا 0 کانکت شده میشه 120
print("code=", code)            #code = '1200'

In [ ]:
result = code + price_str      #مقدار متغیر کد که 1200 رشته ای بوده کانکت میشه با مقدار پرایس رشته ای 1200120.5
print("result=", result)       #result = '1200120.5'

In [ ]:
final_price = float(result)        #مقدار ریزالت رشته ای را به اعشار تبدیل میکند
print("final_price=", final_price) #final_price = 1200120.5

In [ ]:
discounted = int(final_price)     #قیمت نهائی که اعشار است به صحیح تبدیل میشود یعنی قسمت اعشار حذف میشود
print("discounted=", discounted)  #discounted = 1200120

### <span style="color:#FF4C29; font-weight:bold">Question03 </span>
**Write a python program that takes two float numbers as input from the user. If both numbers are equal, print True. Otherwise, print False.**

In [ ]:
number1 = float(input('enter  the first  number:'))
number2 = float(input('enter  the second  number:'))
print(number1 == number2)

### <span style="color:#FF4C29; font-weight:bold">Question04</span>
 **Write a python program that swaps the values of two variables.**

In [ ]:
number3 = int(input('enter first number:'))
number4 = int(input('enter second number:'))
print('number3=',number3,'number4=',number4)
temp = number3
number3 = number4
number4 = temp
print('number3=',number3,'number4=',number4)



#راه حل ساده پایتون
number3,number4 = number4,number3

### <span style="color:#FF4C29; font-weight:bold">Question05</span>
**Write a python program with the following variable assignments. Check the output for each one. If there's no error, comment on what the code does. If there's an error, fix it.**

In [ ]:
price1, price2, price3 = 100,200,30.5  #  200 سه متغیر داریم با سه مقدار که اول پرایس یک مقداردهی میشه با مقدار اول که 100 بعد پرایس دوم با 
score1 = score2 = 18.9                 #ینجا درست کارمیکند اول اسکور یک مقداردهی شده بعد اسکور یک داخل اسکوردوم قرار میگیر
str1, str2, str3 = 'python', 'java'    #اینجا خطا میگیرد چون سه متغیر داریم ولی دومقدار

str1,str2,str3 = 'python' , 'java' , 'c++'  #دستور بالا رفع خطاشد
#str3 راه حل بعدی برای رفع خطا این است که متغیر سوم را پاک کنیم یعنی